html, body {
	min-height: 100vh;
	margin: 0;
	box-sizing: border-box;
	font-size: 9pt;
	font-family: 'San Francisco', 'Helvetica Neue', Tahoma, sans-serif;
}

input[type=number] {
	width: 36px;
	text-align: right;
}

body {
	padding: 8px;
}

.view .card {
	display: inline-block;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.25);
	margin: 8px 0px;
	background: #fff;
}

.canvasHolder {
	float: left;
	position: relative;
	overflow: hidden;
	padding: 3px;
	z-index: 0;
	margin-bottom: 4px;
	line-height: 1px;
}

.canvasHolder > * {
	vertical-align: top;
}

.card .canvasHolder .canvasFrame {
	pointer-events: none;
	position: absolute;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	z-index: -1;
	box-sizing: border-box;
	background: linear-gradient(to right, #888, #888 50%, rgba(136, 136, 136, 0) 50%, rgba(136, 136, 136, 0)) 0px 0% repeat-x,
		linear-gradient(to left, #888, #888 50%, rgba(136, 136, 136, 0) 50%, rgba(136, 136, 136, 0)) 0px 100% repeat-x,
		linear-gradient(to top, #888, #888 50%, rgba(136, 136, 136, 0) 50%, rgba(136, 136, 136, 0)) 0% 0px repeat-y,
		linear-gradient(to bottom, #888, #888 50%, rgba(136, 136, 136, 0) 50%, rgba(136, 136, 136, 0)) 100% 0px repeat-y;
  background-size: 16px 4px, 16px 4px, 4px 16px, 4px 16px;
	border-radius: 2px;
}

.card .canvasHolder:hover .canvasFrame, .card .canvasHolder:active .canvasFrame {
	animation: march 1s infinite linear;
}

@keyframes march {
	from { background-position: 0px 0%, 0px 100%, 0% 0px, 100% 0px; }
	to { background-position: 16px 0%, -16px 100%, 0% -16px, 100% 16px; }
}

.dragOver {
	box-shadow: 0px 0px 32px #888 inset;
	background: url(dropText.jpg) 50% 32% no-repeat;
	background-size: cover;
}

.busy {
	box-shadow: 0px 0px 32px red inset;
}

.snackBar {
	overflow: hidden;
	clear: both;
}

.snackBar > * {
	float: left;
	margin-right: 4px;
}

.snackBar output {
	line-height: 18px;
}

.snackBar > .closeButton {
	float: right;
	margin-right: 0px;
	margin-left: 4px;
}

.verticalPanel {
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
}

.verticalPanel > span, .verticalPanel > label {
	display: block;
}

.combinedValuePanel > .rangeBlock > input {
	width: 100%;
}
